.mat {
    &-grid {
        &-tile {
            box-shadow: none !important;
        }
    }
    &-card {
        &:not([class*=mat-elevation-z]) {
            box-shadow: none !important;
        }
        box-shadow: none !important;
    }
}