.my {
    &-auth {
        &-container { 
            width: 30%;
            margin: 10% auto;
            padding: 10px 0 10px 0;
        }
        &-options {
            box-shadow: 5px 10px #888888;
            margin: auto;
        }
        &-button {
            background-color: rgb(202, 192, 202);
            box-shadow: 5px 10px #888888;
            width: 30%;
            margin: auto;
            display: block;
        }
        &-form {
            display: flex !important;
            flex-direction: column;
        }
    }
}