<!--The content below is only a placeholder and can be replaced.-->
<mat-card>
  <mat-grid-list cols="1" rowHeight="2:1">
      <mat-grid-tile style="background-color: #ffcece">
        <mat-grid-tile-header>
          Test
        </mat-grid-tile-header>
      </mat-grid-tile>
    </mat-grid-list>
</mat-card>
<mat-card>
  <mat-grid-list cols="3" rowHeight="2:1">
      <mat-grid-tile style="background-color: #ffe3b0">1</mat-grid-tile>
      <mat-grid-tile style="background-color: #8ed6ff">2</mat-grid-tile>
      <mat-grid-tile style="background-color: #ffc1c8">3</mat-grid-tile>
    </mat-grid-list>
</mat-card>
